html, body, #root {
  height: 100%;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: #eee;
}

nav a.active:not(.navbar-brand), 
nav a:hover:not(.navbar-brand) {
  text-decoration: underline;
}

.dropdown-menu[data-bs-popper] {
  max-width: 190px;
}

.dropdown-menu[data-bs-popper] .dropdown-item-text {
  word-wrap: break-word !important;
}

.landing-hero-image {
  background-image: url(/images/cat.png);
  background-size: cover;
  min-height: 500px;
}
.landing-post {
  position: relative;
}

.landing-post:before {
  content: '';
  position: absolute;
  left: -10px;
  top: 0;
  background: #D2E887;
  width: 7px;
  height: 100%;
}

.pet-output {
  grid-template-columns: repeat(3, 1fr);
}