name: CI

on: 
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        env:
            JWT_SECRET: ${{ secrets.JWT_SECRET }}
            MONGODB_URL: ${{ secrets.MONGODB_URL }}

        steps:
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Set up Node.js
          uses: actions/setup-node@v2
          with:
            node-version: '18'

        - name: Install dependencies
          run: npm install

        - name: Run tests
          run: npm test

        
          
